body {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8;
    font-size: 20px;
    position: relative;
    background-image: linear-gradient(
      to right,
      rgb(255, 24, 24),
      rgb(255, 156, 62)
    );
    font-weight: 300;
    text-align: center;
  }
  